<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과</title>
</head>
<body>
    <form action="./posts" method="post">
        <div>
            <h4>타이틀</h4>
            <input type="text" name="title">
        </div>

        <div>
            <h4>글쓴이</h4>
            <input type="text" name="user">
        </div>

        <div>
            <h4>본문 내용용</h4>
           <input type="text" name="body" style="width:200px; height:50px;">
        </div>

        <input type="submit" value="제출하기">
    </form>
</body>
</html>